.logo-letters {
    display: inline-block ;
    font-weight: normal ;
    color: #A60067;
    font-family: Trap;
    font-size: 28px;
}

.scroll-top {
    position: fixed;
    right: 15%;
    margin-top: 78vh;
}